.MainModel__Popup{
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.9;
    -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainModel_Content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5;
    color: white;
}

.MainModel__btn{
    place-self: end; 
}

.MainModel__Ebook__Content{
    background-color: indigo;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap:5;
    align-items: center;
    margin: 8px 0px;
    opacity: 1;
    color: white;
    text-align: center;
}

.MainModel__Ebook__Content h1{
    font-size: 32px;
    font-weight: 700;
}

.MainModel__Ebook__Content p {
    font-size: 32px;
    font-weight: 500;
    max-width: 500px;
}

.MainModel__Input{
    width: 100%;
    padding: 6px 8px;
    color: black ;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}

.MainModel__Download{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
}